<h3>Submit your puppy</h3>
<form method="post" action="/display_puppy">
  <input type="text" name="name">
  <input type="text" name="breed">
  <input type="text" name="age">
  <input type="submit" value="Send request">
</form>
