<h3>Puppy</h3>

<h5>Puppy Name: <%= @puppy.name %></h5>
<h5>Puppy Breed: <%= @puppy.breed %></h5>
<h5>Puppy Age: <%= @puppy.age %>months</h5>

expect(page).to have_text("Puppy Name:\nButch")
expect(page).to have_text("Puppy Breed:\nMastiff")
expect(page).to have_text("Puppy Age:\n6 months")